<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Elements Tests">
    <test name="UI">
        <classes>
            <class name="Tests.LoginTest"/>
            <class name="Tests.NewPostTest"></class>
            <class name="Tests.EditPostTest"></class>
        </classes>
    </test>
</suite>